* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #333;
}

html {
    overflow: auto;
}

body {
    margin: 0;
    padding: 0;
    background-color: #c2c8d4;
}